body, html
{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: -moz-linear-gradient(rgb(85, 85, 250), rgb(147, 142, 255));
    background-color: rgb(147, 142, 255);
    background-repeat: no-repeat;
    color: rgb(188, 184, 255);
}

.container
{
    margin: 0;
    padding: 40px 25%;
}

h1
{
    margin: 0;
}

video
{
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 0 10px 10px rgb(122, 115, 252);
}